/** Home **/

.body-home img{

    width: 100%;

}

.body-home h3{

    color: #14387F;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 1px;
}

.body-home div.mcp{

    display: flex;
    justify-content: flex-end;
    color: #14387F;
    font-weight: 400;
}

.body-home h3 span{

    background-color: #E30613;
    color: #fff;
    padding: 2px 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px rgba(0,0,0, .6);
}


/** Header **/

header.generic{

    border-bottom: .8em solid #CD171A;
}

header .logo-header img{

    width: 90%;
}

header img{

    width: 100%;
    margin-top: 1em;
}

header img.float-right{

    width: 70%;
    margin-top: 1.5em;
}

/** Pre-footer **/

.pre-footer div{

    background-color: #14387F;
    color: #fff;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .3em;
    padding-bottom: .3em;
}

.pre-footer div:active, .pre-footer div:hover, .pre-footer a:hover, .pre-footer a:active{

    background-color: #E30613;
}

.pre-footer a{

    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    font-size: .9em;
}

/** Footer **/

footer{

    background-color: #DDDFE2;
    padding-top: .5em;
    padding-bottom: .3em;
}

footer .row .col-md-4{

    display: flex;
    align-items: center;
    justify-content: center;
}

footer .iconos{

    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .iconos img{

    width: 60%;
}

footer .menarini-logo img{

    width: 20%;
}

footer .logo-footer img{

    width: 75%;
}

/** Páginas **/

.body h1{

    font-size: 1.5em;
    text-transform: uppercase;
    color: #14387F;
    font-weight: 700;
    margin-top: .5em;
}

.impacto-body h1{

    text-transform: uppercase;
    font-weight: 500;
    margin-top: 1.2em;

}

.impacto-body img{

    width: 85%;
}

.impacto-body .resena{

    color: #14387F;
    font-size: 1.5em;
    line-height: 1;
    text-align: left;
    font-weight: 400;
}

.impacto-body .resena span{

    font-weight: 600;
}

.impacto-body .encuesta{

    border-radius: 10px;
    background-color: #F1F2F4;
    padding: .5em;
    color: #787D84;
    line-height: 1;
    text-align: center;
}

.impacto-body .encuesta p{

    margin-bottom: 0;
}

.impacto-body .leyendas{

    color: #14387F;
    font-weight: 500;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.impacto-body .leyendas span{

    font-size: .8em;
}

.impacto-body .leyendas p{

    font-size: 1.1em;
}

.impacto-body .libro-vinculo{

    display: flex;
    justify-content: center;
    margin-top: -.3em;
    margin-bottom: 1em;
}

.impacto-body .libro-vinculo img{

    width: 70%;
}

.criterios-body .disminuye{

    font-size: 1.5em;
    color: #14387F;
    display: flex;
    align-items: flex-start;
}

.criterios-body .disminuye img{

    width: 80%;
}

.criterios-body .disminuye p{

    line-height: 1.3;
}

.criterios-body .disminuye span{

    font-weight: 700;
}

.criterios-body .disminuye .col-md-1, .criterios-body .disminuye .col-md-11{

    padding: 0;
}

.criterios-body .titulos-roma{

    color: #14387F;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
}

.criterios-body .sintomas-container{

    display: flex;
    align-items: center;
    
}

.criterios-body .sintomas{

    border-radius: 30px;
    border: 2px solid #14387F;
    color: #14387F;
    font-size: 1.2em;
    line-height: 1.3;
    width: 100%;
    padding-left: 2em;
    padding-top: 1em
}

.criterios-body .info{

    margin-bottom: 2em;
}

.criterios-body .sintomas span{

    font-weight: 700;
}

.algoritmo-body h1{

    color: #14387F;
    font-size: 1.5em;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    margin-top: .5em;
}

.algoritmo-body img{

    width: 100%;
    margin-top: -2em;
    position: relative;
    z-index: 2;
}

.algoritmo-1-body h1{

    text-align: center;
    margin-top: .5em;
}

.algoritmo-1-body img{

    width: 100%;
}

.algoritmo-2-body .container-body{

    display: flex;
    justify-content: space-evenly;
}

.algoritmo-2-body h1{

    text-align: left;
    position: relative;
    z-index: 3;
}

.algoritmo-2-body img.body-img{

    width: 100%;
    margin-top: -1em;
    position: relative;
    z-index: 2;
}

.algoritmo-2-body .mejora-nomejora{

    border: 2px solid #14387F;
    color: #14387F;
    border-radius: 20px;
    padding: .5em;
    width: 150%;
    position: relative;
    left: -6em;
    z-index: 3;
    margin-bottom: 3em;
}

.algoritmo-3-body .mejora-nomejora{

    border: 2px solid #14387F;
    color: #14387F;
    border-radius: 20px;
    padding: .5em;
    position: relative;
}

.algoritmo-2-body .mejora-nomejora p{

    line-height: 1.2;
    text-align: left;
    font-size: .7em;
    padding-left: 16%;
    margin-bottom: 0;
}

.algoritmo-3-body .mejora-nomejora p{

    line-height: 1.2;
    text-align: left;
    font-size: 1.1em;
    padding-left: 4.3%;
    margin-bottom: 0;
    margin-top: -.5em;
}

.algoritmo-2-body .mejora-nomejora span,
.algoritmo-3-body .mejora-nomejora span{

    font-weight: 700;
    font-size: 1em;
}

.algoritmo-2-body .mejora-nomejora img{

    width: 13%;
}

.algoritmo-3-body .mejora-nomejora img{

    width: 4%;
}

.algoritmo-3-body .container-body .container-central{

    height: 26vh;
}

.algoritmo-3-body .container-body .indicaciones{

    color: #14387F;
    font-weight: 400;

}

.algoritmo-2-body .mas-info div{

    display: flex;
    justify-content: space-between;
    background-color: #14387F;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 1em;
    height: 4em;
    width: 100%;
    padding: .5em;
}

.algoritmo-2-body .mas-info div img{

    height: 1.5em;
}

.algoritmo-2-body .mas-info{

    margin-bottom: 2em;
}

.algoritmo-2-body .mas-info div p{

    font-size: .8em;
}

.algoritmo-3-body h1{

    position: relative;
    z-index: 4;
}

.algoritmo-3-body img.body-img{

    width: 100%;
    position: relative;
    z-index: 2;
    top: -4em;
}

.algoritmo-3-body .mas-info{

    display: flex;
    justify-content: space-between;
    background-color: transparent;
    position: relative;
    z-index: 3;
}

.algoritmo-3-body .mas-info p{

    font-size: .5em;
}

.algoritmo-3-body .mas-info img{

    width: 1em;
}

.algoritmo-3-body .mas-info div{

    display: flex;
    justify-content: space-between;
    background-color: #14387F;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 1em;
    height: 2.5em;
    width: 16%;
    padding: .5em;
}

.mejoria-spasmomen h1{

    text-align: center;
}

.mejoria-spasmomen .container-body .row{

    display: flex;
    align-items: center;
}

.mejoria-spasmomen .container-body img{

    width: 100%;
}

.mejoria-spasmomen .container-body .explicacion{

    width: 90%;
    background-color: #F1F2F4;
    padding: 1em;
    border-radius: 10px;
    text-align: left;
    font-weight: 400;
    font-size: .7em;
}

.mejoria-spasmomen .libro-vinculo{

    display: flex;
    justify-content: center;
    margin-top: -.3em;
    margin-bottom: 1em;
}

.mejoria-spasmomen .libro-vinculo img{

    width: 70%;
}

.mejoria-reduccion .container-body{

    margin-bottom: 1em;
}

.mejoria-reduccion .container-body img{

    width: 100%;
}

.mejoria-reduccion .container-body h1{

    font-size: 1.2em;
    text-transform: inherit;
    text-align: center;
}

.mejoria-reduccion .container-body 
.explicacion .col-md-5 div{

    background-color: #F1F2F4;
    color: #787D84;
    border-radius: 10px;
    padding: .5em;
}

.mejoria-reduccion .container-body 
.explicacion .col-md-5 div p{

    margin-bottom: 0;
}

.mejoria-reduccion .container-body 
.explicacion .col-md-5{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mejoria-reduccion .container-body 
.explicacion .col-md-5 img{

    width: 3em;
}

.mejoria-reduccion .container-body 
.explicacion .col-md-2{

    text-align: center;
    color: #14387F;
    font-weight: 500;
}

.protege-frente .container-body img{

    width: 100%;
    margin-bottom: 3em;
}

.protege-frente .container-body .lateral{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.protege-frente .container-body .lateral img{

    width: 90%;
}

.protege-frente .container-body .lateral .encuesta{

    background-color: #F1F2F4;
    padding: .5em;
    padding-bottom: 1em;
    color: #787D84;
    line-height: 1.4;
    border-radius: 10px;
}

.protege-frente .container-body .lateral .libro-vinculo{

    display: flex;
    justify-content: center;
    margin-top: -.3em;
    margin-bottom: 1em;
}

.mejoria-reduccion .container-body{

    margin-top: 1em;
}

.mecanismos-body .info{

    text-align: center;
}

.mecanismos-body img{

    width: 90%;
}

.mecanismos-body ul{

    color: #14387F;
}

.mecanismos-body ul span{

    text-transform: uppercase;
    font-weight: 700;
}

.evidencia-body {

    font-style: italic;
}

.evidencia-body .evidencias{

    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2em;
}

.evidencia-body .evidencias p{

    margin-bottom: 0;
}

.evidencia-body .evidencias .grupo-1, 
.evidencia-body .evidencias .grupo-2{

    width: 27%;
    font-size: 1em;
    line-height: 1.3;
}

.evidencia-body .evidencias .grupo-1 div,
.evidencia-body .evidencias .grupo-2 div{

    display: flex;
    align-items: center;
    background-color: #14387F;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 2em;
    padding: 0 2em;
    padding-top: .3em;
    padding-left: 1em;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
    text-align: center;
    height: 5.5em;
}

.evidencia-body .evidencias .grupo-1 div img,
.evidencia-body .evidencias .grupo-2 div img{

    width: 1.3em;
    margin-right: 1em;
}

.evidencia-body .evidencia-obis div{

    display: flex;
    align-items: center;
    background-color: #14387F;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    padding: 0 2em;
    padding-left: 1em;
    padding-top: .3em;
    margin-left: 1em;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
    text-align: center;
    height: 5.5em;
    width: 27%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.evidencia-body .evidencia-obis div p{

    margin: 0 auto;
}

.evidencia-body .evidencia-obis div img{

    width: 1.3em;
    margin-right: 1em;
}

.gracias-body .listas{

    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    color: #14387F;
    font-size: 1.5em;
    font-weight: 600
}

.gracias-body .listas .lista-1, 
.gracias-body .listas .lista-2{

    width: 100%;
}

.gracias-body .listas ul{

    list-style: none;
    padding-left: 0;
}

.gracias-body .listas .lista-1 ul li,
.gracias-body .listas .lista-2 ul li{

    display: flex;
    align-items: self-start;
    margin-bottom: .5em;
    line-height: 1.2;
}

.gracias-body .infografia{

    text-align: center;
    margin-bottom: .5em;
}

.gracias-body .infografia p{

    text-align: left;
    color: #14387F;
    font-size: .9em;
}

.gracias-body .infografia img{

    width: 100%;
}

.gracias-body .vivir-sano img{

    width: 75%;
}

.gracias-body .vivir-sano .home-icono{

    width: 15%;
    margin-top: -3em;
}

.gracias-body .icono-home img{

    width: 25%;
}

.gracias-body .codigo-qr img{

    width: 70%;
}

.gracias-body .vivir-sano, 
.gracias-body .icono-home{

    margin-bottom: 1em;
}

/** Generales **/
body{

    /* overflow-y: hidden; */
}

.container.body, .container-body{

    height: 55vh;
}

.container.body{

    margin-bottom: 1em;
}

.container-body img.body-img{

    height: 50vh;
}

.container .row.pre-footer{

    height: 8vh;
}

footer{

    height: 12vh;
}

footer.container{

    padding-top: 0;
    padding-bottom: 0;
}

footer.container .row{

    height: inherit;
}

.modal-header{

    margin: 0 auto;
    color: #14387F;
    border-bottom: none;
}

.modal-header h2{

    font-size: 1.4em;
}

.modal-dialog{

    max-width: 90%;
}

.modal-content{

    border-radius: 30px;
}

#encuestaModal .modal-header{

    padding-bottom: 0;
}

#encuestaModal .modal-content{

    padding: .5em;
}

#encuestaModal .modal-body{

    padding-top: 0;
    color: #14387F;
}

#encuestaModal .modal-body span{

    font-weight: 700;
}